<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Blanca</title>
    <link href="css/home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
</head>
<body>
        <%- include('../partials/header.ejs') %>
    <main>
    <h2>Categorías</h2>
        <section>
            <div class="categories">
                <a href=""><img src="/images/macbook2.webp" alt="Computadora Macbook" class="imgcategorie"></a>
                <p>Computadoras</p>
            </div>
            <div class="categories">
                <a href=""><img src="/images/televisorLGsmart.avif" alt="Televisor Smart" class="imgcategorie"></a>
                <p>Televisores</p>
            </div>
            <div class="categories">
                <a href=""><img  src="/images/lavarropasLG.webp" alt="Lavarropas LG" class="imgcategorie"></a>
                <p>Lavarropas</p>
            </div>
            <div class="categories">
                <a href=""><img src="/images/pavaelectricaPeabody.jpg" alt="Pava Eléctrica" class="imgcategorie"></a>
                <p>Pavas</p>  
            </div>
        </section>    
    <h2>Últimas Novedades</h2>
        <section>
            <div class="product">
                <img src="/images/macbook2.webp" alt="Computadora Macbook" class="imgproduct">
                <h3>Apple MacBook Pro A2485</h3>
                <p>$843.999</p>
                <button class="vermas">VER MÁS</button>    
            </div>
            <div class="product">
                <img src="/images/televisorLGsmart.avif" alt="Televisor Smart" class="imgproduct">
                <h3>LG Ultra HD Smart TV 50''</h3>
                <p>$985.633</p>
                <button class="vermas">VER MÁS</button>      
            </div>
            <div class="product">
                <img src="/images/notebookasus.webp" alt="Computadora Asus" class="imgproduct">
                <h3>Notebook Asus</h3>
                <p>$658.999</p>
                <button class="vermas">VER MÁS</button>     
            </div>
            <div class="product">
                <img  src="/images/notebookdellgaming.webp" alt="Computadora Dell" class="imgproduct">
                <h3>Notebook DELL Gaming</h3>
                <p>$985.633</p>
                <button class="vermas">VER MÁS</button>         
            </div>
        </section>
        <h2>Ofertas</h2>
        <section>
            <div class="product">
                <img  src="/images/lavarropasLG.webp" alt="Lavarropas LG" class="imgproduct">
                <h3>Lavarropas LG Capacidad 8.5kg</h3>
                <p>$506.000</p>
                <p>15% OFF</p>
                <button class="vermas">VER MÁS</button>         
            </div>
            <div class="product">
                <img  src="/images/notebookhppavilion.webp" alt="Computadora HP" class="imgproduct">
                <h3>Notebook HP Pavilion</h3>
                <p>$698.999</p>
                <p>20% OFF</p>
                <button class="vermas">VER MÁS</button>       
            </div>
            <div class="product">
                <img src="/images/pavaelectricaPeabody.jpg" alt="Pava Eléctrica" class="imgproduct">
                <h3>Pava Eléctrica Peabody Digital</h3>
                <p>$75.000</p>
                <button class="vermas">VER MÁS</button>    
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>