<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/205af801c8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/products.css">
    <title>Products</title>
</head>
<body>

    <%- include('./views/partials/header.ejs') %>

    <main class="main-container">
            
        <div class="description">
                
                <div class="product1">
                    <div class="picture-container">
                        
                        <aside><div class="side-pictures">
                            <img class="sidep" src="images/macbook2.webp" alt="">
                            <img class="sidep" src="images/macbook3.webp" alt="">
                            <img class="sidep" src="images/macbook4.webp" alt="">
                        </div></aside>
                        <aside><div class="picture-big">
                            <img src="images/macbook1.webp" alt="">
                        </div></aside>
                    </div>
                </div>

                <div class="product2">
                        
                        <div class="description-header">    
                            <div class="product-name">
                                <h2>Apple MacBook Pro A2485</h2>
                            </div>
            
                            <div class="ranking-stars">
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                                <span><i class="fa-solid fa-star"></i></span>
                            </div>
                        </div>

                        <div class="product-description">
                            <div>
                            <p>
                                    La nueva MacBook Pro ofrece a los usuarios más pro un rendimiento revolucionario. Elige entre el chip M1 Pro o el aún más potente M1 Max para resolver las tareas profesionales más exigentes con una excepcional duración de la batería. Además, la MacBook Pro trae una espectacular pantalla Liquid Retina XDR de 16 pulgadas y puertos avanzados para sacarle más provecho que nunca.
                                    Un chip mejor. Y uno mejor que mejor. Los chips M2 Pro y M2 Max exprimen al máximo los núcleos de rendimiento y de eficiencia adicionales del CPU, que suman hasta 12, para que puedas hacer lo que quieras con un consumo energético muy bajo. Los GPU de hasta 38 núcleos llevan al siguiente nivel el rendimiento gráfico. Y el Neural Engine ultrarrápido de 16 núcleos puede ejecutar hasta 15.8 billones de operaciones por segundo.
                                    
                                <p>Aviso legal
                                No todas las configuraciones están disponibles con todos los distribuidores autorizados. Las afirmaciones sobre el rendimiento varían según el modelo y la configuración.</p>
                                </p>
                            </div>

                            <div class="buy-button">
                                <span><button>COMPRAR</button></span>
                            </div>
                        </div>
                </div>  
                <div class="tech-spec-bttn">
                    <span><button class="sp-bttn" type="submit">Especificaciones técnicas</button></span>
                    <span><button class="compare-bttn" type="submit">Comparar</button></span>
                </div>     
        </div>

                    
    </main>
        <section class="related-products">
            <div class="title2">
                <p>También te puede interesar</p>
            </div>

            <div class="related-pictures">
                <img src="images/notebookdellgaming.webp" alt="">
                <img src="images/notebookhppavilion.webp" alt="">
                <img src="images/notebookasus.webp" alt="">
                <img src="images/notebooksamsunggalaxy.webp" alt="">
            </div>
        </section>
        
    <%- include('./views/partials/footer.ejs') %>
</body>
</html>