<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link href="css/shop.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
            <div class="products">
                <h3 class="title">TU CARRITO</h3>
                <article>
                    <img class="img-product" src="images/macbook2.webp" alt="macbook1">
                    <div class="description">
                        <h3 class="product-name">Apple MacBook Pro A2485</h3>
                        <p class="precio">$1.749.999</p>
                    </div>
                    <button class="delete" ><i class="fa-solid fa-trash"></i></button>
                </article>
                <article>
                    <img class="img-product" src="images/notebookasus.webp" alt="notebookasus">
                    <div class="description">
                        <h3 class="product-name">Notebook Asus Intel I5 1135g7 8gb 256gb Ssd 15.6" Full Hd Windows 11 Home</h3>
                        <p class="precio">$552.321</p>
                    </div>
                    <button class="delete"><i class="fa-solid fa-trash"></i></button>
                </article>
                 <article>
                     <img class="img-product" src="images/notebookdellgaming.webp" alt="notebookdellgaming">
                    <div class="description">
                        <h3 class="product-name">
                            Notebook Dell Gaming G5 5525 R7 16gb De Ram 512gb Ssd Nvidia Geforce Rtx 3060 W11 Fhd 1920x1080px</h3>
                        <p class="precio">$1.195.995</p>
                    </div>
                    <button class="delete"><i class="fa-solid fa-trash"></i></button>
                </article>
            </div>
            <div class="pay-options">
                <form action=>
                    <input type="text" name="desc-code" placeholder="CÓDIGO DE DESCUENTO">
                    <button class="validar" type="submit">Validar</button>
                </form>
                <div class="subtotal">
                   <p>Subtotal</p>
                   <h4>$3.498.315</h4>
                </div>
                <div class="garantia">
                  <p>Garantía</p>
                  <h4>$10.000</h4>
                 </div>
                <div class="total">
                    <p>TOTAL</p>
                    <h2>$3.508.315</h2>
                </div>
                  <button class="pagar" type="submit">PAGAR</button>
                </div> 
                <div>
                  <P class="politicas-condiciones">Al comprar se aceptan los Términos y Condiciones
                  Copyright 2023. CASA BLANCA. Todos los derechos reservados. Las fotos e imágenes de los productos son meramente ilustrativas. Todos los productos gozan de la garantía de su fabricante o importador. La venta de cualquiera de los productos publicados está sujeta a verificación de stock. Los precios publicados son exclusivos para venta telefónica y a través de www.casablanca.net Los precios que se visualizan actualmente incluyen IVA. Ofertas para consumidor final.</P>
                 </div> 
    </main>
        
<%- include('../partials/footer.ejs') %>
</body>
</html>