<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Blanca</title>
    <link href="css/home.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet"/>
</head>
<body>
    <header class="main-header">
       <div class="top-header"> 
            <a href="/"><img src="images/logo.PNG" alt="logo casa blanca" class="logo img"></a>
            <div class="search-bar">
                <form action="views/home.html" method="get">
                 <input class="bar" type="text" name="buscador" placeholder="Search"></type>
                 <button class="magnifying-glass"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div class="top-icons">
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-circle-user"></i>
            </div>    
    </header>
    <main>
    <h2>Categorías</h2>
        <section>
            <div class="categories">
                <a href=""><img src="/images/macbook2.webp" alt="Computadora Macbook" class="imgcategorie"></a>
                <p>Computadoras</p>
            </div>
            <div class="categories">
                <a href=""><img src="/images/televisorLGsmart.avif" alt="Televisor Smart" class="imgcategorie"></a>
                <p>Televisores</p>
            </div>
            <div class="categories">
                <a href=""><img  src="/images/lavarropasLG.webp" alt="Lavarropas LG" class="imgcategorie"></a>
                <p>Lavarropas</p>
            </div>
            <div class="categories">
                <a href=""><img src="/images/pavaelectricaPeabody.jpg" alt="Pava Eléctrica" class="imgcategorie"></a>
                <p>Pavas</p>  
            </div>
        </section>    
    <h2>Últimas Novedades</h2>
        <section>
            <div class="product">
                <img src="/images/macbook2.webp" alt="Computadora Macbook" class="imgproduct">
                <h3>Apple MacBook Pro A2485</h3>
                <p>$843.999</p>
                <button class="vermas">VER MÁS</button>    
            </div>
            <div class="product">
                <img src="/images/televisorLGsmart.avif" alt="Televisor Smart" class="imgproduct">
                <h3>LG Ultra HD Smart TV 50''</h3>
                <p>$985.633</p>
                <button class="vermas">VER MÁS</button>      
            </div>
            <div class="product">
                <img src="/images/notebookasus.webp" alt="Computadora Asus" class="imgproduct">
                <h3>Notebook Asus</h3>
                <p>$658.999</p>
                <button class="vermas">VER MÁS</button>     
            </div>
            <div class="product">
                <img  src="/images/notebookdellgaming.webp" alt="Computadora Dell" class="imgproduct">
                <h3>Notebook DELL Gaming</h3>
                <p>$985.633</p>
                <button class="vermas">VER MÁS</button>         
            </div>
        </section>
        <h2>Ofertas</h2>
        <section>
            <div class="product">
                <img  src="/images/lavarropasLG.webp" alt="Lavarropas LG" class="imgproduct">
                <h3>Lavarropas LG Capacidad 8.5kg</h3>
                <p>$506.000</p>
                <p>15% OFF</p>
                <button class="vermas">VER MÁS</button>         
            </div>
            <div class="product">
                <img  src="/images/notebookhppavilion.webp" alt="Computadora HP" class="imgproduct">
                <h3>Notebook HP Pavilion</h3>
                <p>$698.999</p>
                <p>20% OFF</p>
                <button class="vermas">VER MÁS</button>       
            </div>
            <div class="product">
                <img src="/images/pavaelectricaPeabody.jpg" alt="Pava Eléctrica" class="imgproduct">
                <h3>Pava Eléctrica Peabody Digital</h3>
                <p>$140.000</p>
                <button class="vermas">VER MÁS</button>    
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <a href="/"><img src="images/logo.PNG" alt="logo casa blanca"></a>
            <div class="info">
                <h3>Nosotros</h3>
                <ul>
                    <li><a href="#">Conocenos</a></li>
                    <li><a href="#">Nuestras sucursales</li>
                    <li><a href="#">Trabaja con nosotros</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                </ul>
            </div>
            <div class="pay-method">
                <h3>Métodos de pago</h3>
                <ul>
                    <li><a href="#">Billeteras virtuales</a></li>
                    <li><a href="#">Tarjetas bancarias</a></li>
                    <li><a href="#">Puntos de pago</a></li>
                </ul>
            </div>
            <div class="contact">
                <h3>Contactanos</h3>
                <p class="email">atencionalcliente@casablanca.com</p>
                <div class="contact-icons">
                    <i class="fa-brands fa-square-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-solid fa-paper-plane"></i>
                </div>
            </div>
            <div class="bank">
                <div class="bank-container">
                    <i class="fa-brands fa-paypal"></i>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-mastercard"></i>
                </div>
                <div class="bank-container">
                    <i class="fa-brands fa-cc-amazon-pay"></i>
                    <i class="fa-brands fa-google-pay"></i>
                    <i class="fa-brands fa-apple-pay"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>