<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/205af801c8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/products.css">
    <title>Products</title>
</head>

<header class="main-header">
    <div class="top-header"> 
         <a href="products.html"><img class="logo" src="images/logo.PNG" alt="logo casa blanca"></a>
         <div class="search-bar">
             <form action="/src/views/products.html" method="get">
              <input class="bar" type="text" name="buscador" placeholder="  Search"></type>
              <button class="magnifying-glass"><i class="fa-solid fa-magnifying-glass"></i></button>
             </form>
         </div class="top-icons">
         <div><i class="fa-regular fa-heart"></i>
         <i class="fa-solid fa-cart-shopping"></i>
         <i class="fa-solid fa-circle-user"></i>
         </div>
     </div>
     
 </header>
     <div class="select-header">
         <button>Oficina</button>
         <button>Cocina</button>
         <button>Gaming</button>
         <button>Led/Smart TV</button>
         <button>Climatizacíon</button>
         <button>Celulares</button>
     </div>

<body>
    
    <div class="product-name">
        <h2>Apple MacBook Pro A2485</h2>
    </div>

    <div class="ranking-stars">
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
        <span><i class="fa-solid fa-star"></i></span>
    </div>

    <p class="product-description">
        La nueva MacBook Pro ofrece a los usuarios más pro un rendimiento revolucionario. Elige entre el chip M1 Pro o el aún más potente M1 Max para resolver las tareas profesionales más exigentes con una excepcional duración de la batería(1). Además, la MacBook Pro trae una espectacular pantalla Liquid Retina XDR de 16 pulgadas y puertos avanzados para sacarle más provecho que nunca(2).

        Aviso legal
        No todas las configuraciones están disponibles con todos los distribuidores autorizados. Las afirmaciones sobre el rendimiento varían según el modelo y la configuración.    
    </p>

    <div class="buy-button">
        <button type="submit">COMPRAR<i class="fa-regular fa-cart-shopping"></i></button>
    </div>

    <div class="picture-big">
        <img src="images/macbook1.webp" alt="">
    </div>

    <div class="side-pictures">
        <img src="images/macbook2.webp" alt="">
        <img src="images/macbook3.webp" alt="">
        <img src="images/macbook4.webp" alt="">
    </div>

    <div class="tech-spec-bttn">
        <span><button type="submit">Especificaciones técnicas</button></span>
        <span><button type="submit">Comparar</button></span>
    </div>

    <div class="title2">
        <h4>También te puede interesar</h4>
    </div>

    <div class="related-products">
        <img src="images/notebookdellgaming.webp" alt="">
        <img src="images/notebookhppavilion.webp" alt="">
        <img src="images/notebookasus.webp" alt="">
        <img src="images/notebooksamsunggalaxy.webp" alt="">
    </div>

</body>

<footer>

    <a href="home.html"><img class="logo" src="images/logo.PNG" alt="logo casa blanca"></a>
        <div class="pay-method">
            <p>Métodos de pago</p>
            <ul>
                <li>Billeteras virtuales</li>
                <li>Tarjetas bancarias</li>
                <li>Puntos de pago</li>
            </ul>
        </div>
        <div class="info">
            <p>Nosotros</p>
            <ul>
                <li>Conocenos</li>
                <li>Nuestras sucursales</li>
                <li>Trabaja con nosotros</li>
                <li>Términos y condiciones</li>
                <li>Política de privacidad</li>
            </ul>
        </div>
        <div class="contact">
            <p>Contactanos</p>
            <p class="email"><i class="fa-solid fa-envelope"> atencionalcliente@casablanca.com</i></p>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-solid fa-paper-plane"></i>
        </div>
        <div class="bank">
            <i class="fa-brands fa-paypal"></i>
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-amazon-pay"></i>
            <i class="fa-brands fa-google-pay"></i>
            <i class="fa-brands fa-apple-pay"></i>
        </div>
    </footer>

</footer>
</html>