<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/205af801c8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/products.css">
    <title>Products</title>
</head>
<body>

<header class="main-header">
    <div class="top-header"> 
         <a href="products.html"><img class="logo" src="images/logo.png" alt="logo casa blanca"></a>
         <div class="search-bar">
             <form action="/src/views/products.html" method="get">
              <input class="bar" type="text" name="buscador" placeholder="  Search"></type>
              <button class="magnifying-glass"><i class="fa-solid fa-magnifying-glass"></i></button>
             </form>
         </div class="top-icons">
         <div><i class="fa-regular fa-heart"></i>
         <i class="fa-solid fa-cart-shopping"></i>
         <i class="fa-solid fa-circle-user"></i>
         </div>
     </div>
     
</header>
     <nav class="select-header">
         <button>Oficina</button>
         <button>Cocina</button>
         <button>Gaming</button>
         <button>Led/Smart TV</button>
         <button>Climatizacíon</button>
         <button>Celulares</button>
     </nav>
    
<main class="main-container">
        
    <div class="description">
            <div class="description-header">    
                <div class="product-name">
                    <h2>Apple MacBook Pro A2485</h2>
                </div>

                <div class="ranking-stars">
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                    <span><i class="fa-solid fa-star"></i></span>
                </div>
            </div>

            <div class="picture-container">
                
                <aside><div class="side-pictures">
                    <img class="sidep" src="images/macbook2.webp" alt="">
                    <img class="sidep" src="images/macbook3.webp" alt="">
                    <img class="sidep" src="images/macbook4.webp" alt="">
                </div></aside>
                <aside><div class="picture-big">
                    <img src="images/macbook1.webp" alt="">
                </div></aside>
            </div>

            <div class="product-description">
                <p>
                    La nueva MacBook Pro ofrece a los usuarios más pro un rendimiento revolucionario. Elige entre el chip M1 Pro o el aún más potente M1 Max para resolver las tareas profesionales más exigentes con una excepcional duración de la batería(1). Además, la MacBook Pro trae una espectacular pantalla Liquid Retina XDR de 16 pulgadas y puertos avanzados para sacarle más provecho que nunca(2).

                    Aviso legal
                    No todas las configuraciones están disponibles con todos los distribuidores autorizados. Las afirmaciones sobre el rendimiento varían según el modelo y la configuración.    
                </p>
            </div>  

            <div class="buy-button">
                <span></span><button type="submit">COMPRAR</i></button></span><span><i class="fa-regular fa-cart-shopping"></i></span>
            </div>   
    </div>

            <div class="tech-spec-bttn">
                <span><button class="sp-bttn" type="submit">Especificaciones técnicas</button></span>
                <span><button class="compare-bttn" type="submit">Comparar</button></span>
            </div>    
</main>
    <section class="related-products">
        <div class="title2">
            <h4>También te puede interesar</h4>
        </div>

        <div class="related-pictures">
            <img src="images/notebookdellgaming.webp" alt="">
            <img src="images/notebookhppavilion.webp" alt="">
            <img src="images/notebookasus.webp" alt="">
            <img src="images/notebooksamsunggalaxy.webp" alt="">
        </div>
    </section>
    
    
</body>
</html>