@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
/*font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    
}
.main-header{
    background-color: rgba(177, 177, 194, 0.374);
}
.top-header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.search-bar button{
   background-color: black;
   color: white;
   padding: 2px;
   height:  35px;
   width: 30px;
   position: relative;
   top: 30px;
   right: 65px; 
   border: none;
}
.bar{
   border: none;
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
    width: 300px;
    position: relative;
    top: 30px;
    right: 60px;
    height: 35px;
}

.description {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.product-name {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 50px;
    margin-top: 50px;

    text-align: center;
    position: relative;

}

.ranking-stars {
    color: black;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 400px;
    right: -500px;
    z-index: 999;
}

.fa-star::before {
    font-size: 16px;
    justify-content: center;
    position: absolute;
}

.fa-star::after {
    color: rgb(243, 243, 67);
    border: none;
    font-size: 16px;
    justify-content: center;
    position: absolute;
}

.product-description {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 350px;
    overflow: hidden;
    text-align: justify;
    position: relative;
    top: 400px;
    right: -500px;
}