<header class="main-header">
    <div class="top-header"> 
         <a href="/"><img src="/images/logo.PNG" alt="logo casa blanca" class="logo img"></a>
         <div class="search-bar">
             <form action="/views/home.html" method="get">
              <input class="bar" type="text" name="buscador" placeholder="Search"></type>
              <button class="magnifying-glass"><i class="fa-solid fa-magnifying-glass"></i></button>
             </form>
         </div>
         <div class="top-icons">
             <i class="fa-regular fa-heart"></i>
             <i class="fa-solid fa-cart-shopping"></i>
             <i class="fa-solid fa-circle-user"></i>
         </div>    
 </header>